@charset "utf-08";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.content {
    width: 100%;
    padding: 150px 0;
}

.inner {
    width: 1176px;
    margin: 0 auto;
}

.inner::after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (max-width:1200px) {
    .content {
        padding: 120px 0;
    }

    .inner {
        width: 100%;
    }
}

@media screen and (max-width:980px) {
    .content {
        padding: 100px 0;
    }
}

@media screen and (max-width:768px) {
    .content {
        padding: 80px 0;
    }
}

@media screen and (max-width:640px) {
    .content {
        padding: 60px 0;
    }
}

#header {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #fff;
}

#header .logo {
    float: left;
    width: 89px;
    height: 130px;
    line-height: 190px;
}

#header .util {
    float: right;
    width: 100%;
    max-width: 446px;
    height: 30px;
    background-color: #fff;
    margin-top: 10px;
}

#header .util li {
    float: left;
    text-align: center;
}

#header .util li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 17px 0 16px;
    background: #dddddd;
    vertical-align: middle;
}

#header .util li:first-of-type:before {
    display: none;
}

#header .util li:last-of-type {
    margin-right: 0;
    padding-right: 0;
}

#header .util li a {
    font-size: 12px;
    line-height: 30px;
    color: #333;
}

#header .util li a img {
    width: 25px;
    display: inline-block;
    margin-right: 3px;
    padding-left: 10px;
    padding-top: 10px;
}

#header .util li .header_icon {
    margin-left: 15px;
}

#header .menu_wrap {
    float: right;
    width: 90%;
    height: 90px;
    line-height: 90px;
    background-color: #fff;
}

#header .menu_wrap>.menu {
    float: right;
    text-align: center;
}

#header .menu_wrap>.menu>li {
    float: left;
    width: 110px;
    height: 90px;
    margin-right: 24px;
}

#header .menu_wrap>.menu>li.on {
    border-bottom: 2px solid #346D94;
}

#header .menu_wrap>.menu>li:hover {
    border-bottom: 2px solid #346D94;
}

#header .menu_wrap>.menu>li:last-of-type:hover {
    border-bottom: 0;
}

#header .menu_wrap>.menu>li>a {
    font-size: 17px;
    color: #333;
}

#header .menu_wrap>.menu>li:last-of-type {
    width: 140px;
    margin-right: 0;
}

#header .menu_wrap>.menu>li:last-of-type i {
    margin-left: 10px;
}

#header .header_btn_box {
    display: none;
}

#header .smenu {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 130px;
    left: 0;
    overflow: hidden;
    border-top: 1px solid rgba(119, 119, 119, 0.192);
    background-color: #fff;
    z-index: 5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 41);
}

#header #smenu1 {
    height: 350px;
}

#header #smenu3 {
    height: 200px;
}

#header #smenu4 {
    height: 200px;
}

#header #smenu5 {
    height: 350px;
}


#header .smenu .smenu_stitle {
    display: block;
    float: left;
    width: 186px;
    margin-top: 20px;
    font-size: 30px;
}

#header .smenu .smenu_stitle::after {
    content: "";
    display: block;
    width: 55px;
    height: 2px;
    background-color: #333;
    margin-left: 44px;
    margin-top: -15px;
}

#header .smenu .smenu_wrap {
    width: 900px;
    height: auto;
    float: left;
}

#header .smenu .smenu_title {
    float: left;
    width: 200px;
    height: 270px;
    text-align: left;
    margin-left: 24px;
    padding-left: 45px;
}

#header #smenu6 .smenu_title {
    height: 210px;
}

#header .smenu .smenu_title>a {
    color: #333;
    font-weight: bold;
}

#header .smenu .smenu_title>.smenu_dep {
    width: 200px;
}

#header .smenu .smenu_title>.smenu_dep>li {
    height: 25px;
    font-size: 13px;
    line-height: 0;
}

#header .smenu .smenu_title>.smenu_dep>li>a {
    color: #333;
}

@media screen and (max-width:1200px) {
    #header .menu_wrap>.menu>li {
        margin-right: 15px;
    }
}

@media screen and (max-width:1010px) {
    #header {
        height: 60px;
    }

    #header .util {
        display: none;
    }

    #header .menu_wrap {
        display: none;
    }

    #header .logo {
        line-height: 80px;
        padding-left: 24px;
    }

    #header .logo img {
        width: 50px;
    }

    #header .header_btn_box {
        display: block;
        float: right;
    }

    #header .header_btn_box a {
        font-size: 24px;
        margin-right: 24px;
        line-height: 60px;
        color: #333;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:640px) {}

.all_menu_wrap {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.185);
    z-index: 10;
    display: none;
}

.all_menubox {
    position: fixed;
    top: 0;
    right: -1100px;
    width: 1100px;
    height: 1000px;
    background-color: #fff;
    transition: 0.7s;
    z-index: 15;
}

.all_menubox .inner {
    width: 1000px;
}

.all_menubox .all_top {
    width: 987px;
    height: 100px;
    margin: 0 auto;
    padding-top: 14px;
}

.all_menubox .all_top .all_logo {
    width: 10%;
    float: left;
}

.all_menubox .all_top .all_close {
    width: 10%;
    float: right;
    text-align: center;
    line-height: 86px;
}

.all_menubox .all_top .all_close i {
    font-size: 28px;
    color: #333;
}

.all_menubox .all_box {
    width: 100%;
    height: 800px;
    padding-top: 20px;
    border-top: 2px solid #3C70B7;
    overflow-y: auto;
}

.all_menubox .all_box .all_menu {
    height: auto;
    border-bottom: 1px solid rgba(119, 119, 119, 0.397);
    padding-top: 30px;
}

.all_menubox .all_box .all_menu .all_stitle {
    display: block;
    float: left;
    width: 20%;
    height: 400px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.all_menubox .all_box .all_menu .all_title {
    float: left;
    width: 200px;
    height: 200px;
}

.all_menubox .all_box .all_menu .all_title>a {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.all_menubox .all_box .all_menu .all_title .all_dep {
    margin-top: 10px;
}

.all_menubox .all_box .all_menu .all_title .all_dep li {
    font-size: 14px;
    height: 23px;
}

.all_menubox .all_box .all_menu .all_title .all_dep li a {
    color: #666;
}


#all_menu1 .all_stitle {
    height: 400px;
}

#all_menu2 .all_stitle {
    height: 300px;
}

#all_menu3 .all_stitle {
    height: 200px;
}

#all_menu4 .all_stitle {
    height: 200px;
}

#all_menu5 .all_stitle {
    height: 400px;
}

#all_menu5 .all_title:first-of-type {
    height: 300px;
}

#all_menu6 .all_stitle {
    height: 600px;
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:920px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:640px) {}

.mobile_menu_wrap {
    overflow: hidden;
}

.mobile_menu_wrap .mobile_menu_box {
    position: fixed;
    top: 0;
    right: -360px;
    width: 360px;
    height: 100%;
    background-color: #fff;
    z-index: 20;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0 12px;
    margin-right: 50px;
    background-color: #346D94;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_title {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    color: #ffffff;
    line-height: 62px;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_title>span {
    position: absolute;
    top: 0;
    right: 25px;
    display: block;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_title>span>a {
    font-size: 28px;
    color: #fff;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_top_menu {
    position: relative;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_top_menu li {
    display: inline-block;
    width: 100px;
    margin-right: 12px;
    text-align: center;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_top_menu li a {
    display: block;
    height: 30px;
    color: #a4daff;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_top_menu .w_list>a {
    color: #fff;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_top_menu .w_list {
    margin-right: 0;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_top_smenu {
    display: none;
    position: absolute;
    width: 100px;
}

.mobile_menu_wrap .mobile_menu_box .mobile_top .mobile_top_smenu>li>a {
    color: #333;
}

.mobile_menu_wrap .mobile_menu_box .mobile_menu li {
    width: 100%;
}

.mobile_menu_wrap .mobile_menu_box .mobile_menu>li>a {
    display: table-cell;
    width: 90px;
    height: 65px;
    padding: 10px 16px;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    color: #666666;
    text-align: center;
    vertical-align: middle;
}

.mobile_menu_wrap .mobile_menu_box .mobile_menu>li>a:hover {
    color: #3C70B7;
}

.mobile_menu_wrap .mobile_menu_box .mobile_smenu {
    position: absolute;
    top: 120px;
    left: 90px;
    padding: 0 20px;
    z-index: 30;
}

.mobile_menu_wrap .mobile_menu_box #asd {
    display: block;
}

.mobile_menu_wrap .mobile_menu_box .mobile_smenu {
    display: none;
    width: 100%;
}

.mobile_menu_wrap .mobile_menu_box .mobile_smenu .mobile_smenu_title {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #333333;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.mobile_menu_wrap .mobile_menu_box .mobile_smenu>li>a {
    display: block;
    padding: 12px 30px 10px 10px;
    color: #333;
}

.mobile_menu_wrap .mobile_menu_box .mobile_smenu li a:hover {
    color: #3C70B7;
}

.mobile_menu_wrap .mobile_menu_box .mobile_smenu .mobile_smenu_dep {
    display: none;
    padding: 0 15px;
}

.mobile_menu_wrap .mobile_menu_box .mobile_smenu .mobile_smenu_dep>li>a {
    font-size: 14px;
    color: rgba(102, 102, 102, 0.74);
}

.mobile_menu_wrap .mobile_menu_box .mobile_smenu .mobile_smenu_dep>li>a:hover {
    color: #3C70B7;
}






#visual {
    width: 100%;
    height: 560px;
    background-image: url(../img/MSI_202106090152566080.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#visual .inner {
    height: 0;
}

#visual .visual_title {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 54px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
}

.visual_left {
    width: 360px;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
    overflow: hidden;
}


.visual_right {
    width: 600px;
    height: 180px;
    float: right;
    margin-right: 100px;
    margin-top: 100px;
    padding-top: 40px;
    background-color: #07528bda;
    overflow: hidden;
    position: relative;
}


#visual .swiper-button-prev::after,
#visual .swiper-button-next::after {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}


.visual_right .swiper-slide {
    text-align: center;
}

.visual_right .swiper-slide .visual_info {
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
}

@media screen and (max-width:1200px) {
    #visual .visual_title {
        width: 100%;
        font-size: 52px;
        padding-top: 52px;
    }

    .visual_left {
        width: 360px;
        margin-left: 0;
    }

    .visual_right {
        width: 60%;
        height: 180px;
        margin-right: 0;
    }
}

@media screen and (max-width:1010px) {
    #visual .visual_title {
        font-size: 48px;
    }
}

@media screen and (max-width:920px) {
    #visual {
        position: relative;
        margin-bottom: 550px;
        height: 500px;
    }

    #visual .visual_title {
        font-size: 46px;
    }

    .visual_right {
        width: 100%;
        position: absolute;
        top: 100%;
        margin-top: 0;
    }

    .visual_left {
        position: relative;
        top: 400px;
        width: 80%;
        float: none;
        margin: 100px auto 0;
    }

    .visual_left img {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    #visual .visual_title {
        font-size: 42px;
    }
}

@media screen and (max-width:640px) {
    #visual {
        margin-bottom: 450px;
    }

    #visual .visual_title {
        font-size: 40px;
        padding-top: 80px;
    }
}

#service {
    width: 100%;
    height: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#service .service_title {
    width: 15%;
    height: 45px;
    font-size: 26px;
    font-weight: normal;
    line-height: 1;
}

#service .service_tab {
    position: relative;
    top: -30px;
    text-align: right;
}

#service .service_tab>li {
    display: inline-block;
    margin-left: 30px;
}

#service .service_tab li.on {
    border-bottom: 2px solid #346D94;
}

#service .service_tab li a {
    height: 23px;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1;
    color: #666666;
}

#service .service_smenu {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
}

#service .service_left_box {
    float: left;
    width: 277px;
    height: 151px;
    text-align: left;
    padding: 40px;
    background-color: #007CA5;
}

#service .service_left_box .smenu_stitle {
    font-weight: normal;
    color: #fff;
}

#service .service_left_box .service_btn {
    display: block;
    width: 130px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-left: 0;
    margin-top: 20px;
    border: 1px solid #fff;
    color: #fff;
}

#service .service_smenu li {
    width: 274px;
    height: 75px;
    float: left;
    line-height: 75px;
    border: 1px solid rgba(119, 119, 119, 0.103);
    text-align: left;
    cursor: pointer;
}

#service .service_smenu li a {
    margin-left: 30px;
}

#service .service_smenu li:hover {
    background-color: #436CA9;
}

#service .service_smenu li:hover a {
    color: #fff;
}

@media screen and (max-width:1200px) {
    #service .service_left_box {
        width: 25%;
        text-align: center;
    }

    #service .service_left_box .service_btn {
        margin: 20px auto;
    }

    #service .service_smenu li {
        width: 24.5%;
        height: 75px;
        float: left;
        line-height: 75px;
    }
}

@media screen and (max-width:920px) {
    #service {
        height: 275px
    }

    #service .service_title {
        width: 100%;
        text-align: center;
        font-size: 22px;
        font-weight: normal;
        line-height: 1;
    }

    #service .service_tab {
        top: 0;
        text-align: center;
    }

    #service .service_tab>li {
        width: 100px;
        padding-bottom: 10px;
        margin-left: 0;
    }

    #service .service_tab>li>a {
        font-size: 15px;
        line-height: 1;
        font-weight: bold;
        color: #666666;
    }

    #service .service_left_box {
        display: none;
    }

    #service .service_smenu li {
        width: 50%;
        height: 40px;
        line-height: 40px;
    }

    #service .service_smenu li a {
        font-size: 14px;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:640px) {}

#notice {
    width: 100%;
    height: 450px;
    background-color: #D9DDE0;
    padding-top: 50px;
}

#notice .notice_title {
    height: 45px;
    font-size: 26px;
    font-weight: normal;
    line-height: 1;
}

#notice .notice_title span {
    font-size: 17px;
    color: #333333;
}

#notice .notice_tab {
    position: relative;
    top: -35px;
    text-align: right;
}

#notice .notice_tab>li {
    display: inline-block;
    margin-left: 24px;
}

#notice .notice_tab li.on {
    border-bottom: 2px solid #346D94;
}

#notice .notice_tab li a {
    color: #333;
}

#notice .notice_smenu {
    position: absolute;
    left: 0;
    top: 45px;
    text-align: left;
}

#notice .notice_smenu1 {
    display: none;
}

#notice .notice_smenu .notice_left_box {
    width: 277px;
    height: 305px;
    float: left;
    background-color: #3C70B7;
    text-align: left;
    padding: 40px;
}

#notice .notice_smenu .notice_left_box .notice_stitle {
    font-size: 26px;
    font-weight: normal;
    color: #fff;
}

#notice .notice_smenu .notice_left_box .notice_txt {
    font-size: 15px;
    margin-top: 15px;
    color: #fff;
}

#notice .notice_smenu .notice_left_box .notice_btn {
    display: block;
    width: 130px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-left: 0;
    margin-top: 20px;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 100px;
}

#notice .notice_smenu li {
    width: 277px;
    height: 305px;
    float: left;
    padding: 30px;
    background-color: #fff;
    border: 1px solid rgba(119, 119, 119, 0.151);
    cursor: pointer;
}

#notice .notice_smenu li:hover {
    box-sizing: border-box;
    border: 1px solid #346D94;
}

#notice .notice_smenu .notice_name {
    height: 46px;
    font-size: 17px;
    margin-bottom: 20px;
}

#notice .notice_smenu .blue_box {
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #D8DFEA;
}

#notice .notice_smenu .notice_txt {
    font-size: 14px;
}

#notice .notice_smenu .notice_date {
    width: 20%;
    position: absolute;
    bottom: 5%;
    font-size: 14px;
}

#notice .notice_smenu .notice_date i {
    position: absolute;
    right: 0;
}

#notice .notice_smenu .notice_img_box {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#notice .notice_smenu .blue_pic {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #D8DFEA;
}

#notice .notice_smenu .blue_pic .blue_txt {
    font-weight: bold;
    color: #3C70B7;
}

@media screen and (max-width:1200px) {
    #notice .notice_smenu .notice_left_box {
        width: 25%;
    }

    #notice .notice_smenu li {
        width: 25%;
    }
}

@media screen and (max-width:920px) {
    #notice {
        height: 500px;
    }

    #notice .notice_title {
        width: 100%;
        text-align: center;
        font-size: 22px;
        font-weight: normal;
        line-height: 1;
    }

    #notice .notice_stxt {
        display: none;
    }

    #notice .notice_tab {
        top: 0;
        text-align: center;
    }

    #notice .notice_tab>li {
        width: 100px;
        padding-bottom: 10px;
        margin-left: 0;
    }

    #notice .notice_tab>li>a {
        font-size: 15px;
        line-height: 1;
        font-weight: bold;
        color: #666666;
    }

    #notice .notice_smenu .notice_left_box {
        display: none;
    }

    #notice .notice_smenu li {
        width: 33.333%;
    }
}

@media screen and (max-width:768px) {
    #notice {
        height: 900px;
    }

    #notice .notice_smenu li {
        width: 100%;
        height: 250px;
        text-align: center;
    }

    #notice .notice_smenu .notice_name {
        margin-bottom: 0;
    }

    #notice .notice_smenu .blue_box {
        margin: 20px auto;
    }

    #notice .notice_smenu .notice_date {
        position: static;
        display: block;
        margin: 20px auto;
    }

    #notice .notice_smenu .notice_date i {
        position: static;
        margin-left: 10px;
    }
}

@media screen and (max-width:640px) {
    #notice .notice_smenu .notice_name {
        height: 35px;
    }
}

#section_menu {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0;
}

#section_menu .sm_left_box {
    float: left;
    width: 80%;
}

#section_menu .sm_left_box .box {
    width: 33.333%;
    height: 76px;
    float: left;
    border: 1px solid rgba(119, 119, 119, 0.493);
    margin: -1px 0 0 -1px;
    text-align: left;
    padding-left: 25px;
    cursor: pointer;
}

#section_menu .sm_left_box .box a {
    color: #333;
    line-height: 76px;
}

#section_menu .sm_left_box .box:hover {
    background-color: #436CA9;
}

#section_menu .sm_left_box .box:hover a {
    color: #fff;
}


#section_menu .sm_right_box {
    float: left;
    width: 20%;
    height: 151px;
    padding: 15px;
    margin: -1px 0 0 -3px;
    border: 1px solid rgba(119, 119, 119, 0.493);
}

#section_menu .sm_right_box .sm_title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#section_menu .sm_right_box .sm_icon {
    float: right;
}

#section_menu .sm_right_box .sm_icon a {
    color: #333;
}

#section_menu .sm_right_box .sm_vod {
    margin-top: 20px;
    position: relative;
}

#section_menu .sm_right_box .sm_vod img {
    width: 90%;
}

#section_menu .sm_right_box .sm_vod i {
    font-size: 28px;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 40%;
    opacity: 0.8;
}

#section_menu .sm_right_box .sm_vod i:hover {
    opacity: 1;
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:920px) {
    #section_menu .sm_left_box {
        float: none;
        width: 100%;
        height: 170px;
    }

    #section_menu .sm_right_box {
        float: none;
        width: 50%;
        height: auto;
        margin: 0 auto;
    }

    #section_menu .sm_right_box .sm_vod img {
        width: 100%;
        display: block;
    }

    #section_menu .sm_right_box .sm_vod i {
        left: 46%;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:640px) {
    #section_menu .sm_left_box .box a {
        font-size: 14px;
    }

    #section_menu .sm_right_box .sm_vod i {
        left: 43%;
    }
}

#brand {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 1px;
}

#brand .mySwiper {
    overflow: hidden;
}

#brand .mySwiper .swiper-slide {
    float: left;
    width: 25%;
}

#brand .muSwiper .swiper-pagination-bullet {
    display: none;
}

#brand .swiper-button-prev::after,
#brand .swiper-button-next::after {
    display: block;
    font-size: 18px;
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px;
}

#brand .swiper-button-prev {
    left: auto;
    right: 50px;
    top: auto;
    bottom: 0%;
    margin-right: 10px;
}

#brand .swiper-button-next {
    left: auto;
    right: 20px;
    top: auto;
    bottom: 0%;
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:920px) {}

@media screen and (max-width:768px) {}

@media screen and (max-width:640px) {}

.site_wrap {
    text-align: right;
}

.site_wrap>.inner>a {
    display: inline-block;
    width: 200px;
    height: 60px;
    position: relative;
    margin-top: 20px;
    margin-bottom: -5px;
    text-align: center;
    border: 1px solid #dddddd;
    border-bottom: 0;
    background: #f6f4f3;
    font-weight: bold;
    font-size: 15px;
    line-height: 60px;
}

.site_wrap>.inner>a.open {
    position: relative;
    color: #333;
}

.site_wrap>.inner>a.open::before,
.site_wrap>.inner>a.open::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    display: block;
}

.site_wrap>.inner>a.open::before {
    content: "전국검찰청 바로가기";
}

.site_wrap>.inner>a.open::after {
    text-align: right;
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
}

.site_wrap>.inner>a.close {
    position: relative;
    color: #436CA9;
}

.site_wrap>.inner>a.close::before,
.site_wrap>.inner>a.close::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    display: block;
}

.site_wrap>.inner>a.close::before {
    content: "전국검찰청 바로가기";
}

.site_wrap>.inner>a.close::after {
    text-align: right;
    content: "\f106";
    font-family: 'Font Awesome 5 Free';
}



.site_wrap .popbox {
    width: 100%;
    height: auto;
    display: none;
    text-align: left;
    background-color: #f6f4f3;
}

.site_wrap .popbox .site_menu>li {
    width: 100%;
    padding: 40px 0 40px 0;
    border-top: 1px solid rgba(119, 119, 119, 0.384);
}

.site_wrap .popbox .site_menu>li:first-of-type {
    border: 0;
}

.site_wrap .popbox .site_menu>li>a {
    display: block;
    width: 20%;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.site_wrap .popbox .site_menu>li>.site_smenu>.site_box {
    float: right;
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

.site_wrap .popbox .site_menu>li>.site_smenu>.site_box>li {
    float: left;
    margin-right: 24px;
}

.site_wrap .popbox .site_menu>li>.site_smenu>.site_box>li>a {
    font-size: 17px;
    font-weight: bold;
    color: #333333;
}

.site_wrap .popbox .site_menu>li>.site_smenu>.site_box>li>.site_smenu_dep>li {
    display: inline-block;
    margin-top: 10px;
}

.site_wrap .popbox .site_menu>li>.site_smenu>.site_box>li>.site_smenu_dep>li {
    margin-right: 24px;
    padding-right: 24px;
    border-right: 1px solid rgba(119, 119, 119, 0.329);
}

.site_wrap .popbox .site_menu>li>.site_smenu>.site_box>li>.site_smenu_dep>li:last-of-type {
    border: 0;
}

.site_wrap .popbox .site_menu>li>.site_smenu>.site_box>li>.site_smenu_dep>li>a {
    font-size: 15px;
    color: #777;
}

.site_wrap .popbox .site_menu>li>#site_smenu1 {
    height: 350px;
}

.site_wrap .popbox .site_menu>li>#site_smenu2 {
    height: 100px
}

.site_wrap .popbox .site_menu>li>#site_smenu3 {
    height: 210px;
}

.site_wrap .popbox .site_menu>li>#site_smenu4 {
    height: 150px;
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:920px) {
    .site_wrap>.inner>a {
        width: 100%;
        text-align: center;
    }

    .site_wrap .popbox .site_menu>li>a {
        font-size: 20px;
    }

    .site_wrap .popbox .site_menu>li>.site_smenu>.site_box>li>a {
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:640px) {
    .site_wrap .popbox .site_menu>li>a {
        width: 30%;
        font-size: 18px;
    }
}

#footer {
    width: 100%;
    height: 200px;
    padding: 50px 0;
    background-color: #EDEDED;
    border-top: 1px solid rgba(51, 51, 51, 0.192);
}

#footer .footer_logo {
    float: left;
    width: 10%;
}

#footer .footer_menu {
    float: left;
    width: 90%;
    margin-bottom: 15px;
}

#footer .footer_menu li {
    float: left;
    margin-right: 24px;
    padding-right: 24px;
    border-right: 1px solid rgba(119, 119, 119, 0.384);
}

#footer .footer_menu li:last-of-type {
    border: 0;
}

#footer .footer_menu li a {
    color: #333;
}

#footer .footer_menu li .blue_txt {
    color: #436CA9;
    font-weight: bold;
}

#footer .address span {
    color: #666;
    font-size: 15px;
}

#footer .address span:nth-child(2) {
    padding-right: 10px;
    border-right: 1px solid rgba(119, 119, 119, 0.329);
}

#footer .copyright {
    margin-top: 10px;
    color: #666;
    font-size: 13px;
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:920px) {
    #footer .footer_logo {
        width: 10%;
        height: 100px;
    }

    #footer .footer_menu li {
        float: left;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(119, 119, 119, 0.384);
    }

    #footer .footer_menu li a {
        font-size: 14px;
    }

    #footer .address span {
        font-size: 12px;
    }

    #footer .copyright {
        margin-top: 10px;
        color: #666;
        font-size: 10px;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:640px) {
    #footer .footer_logo {
        width: 18%;
        height: 120px;
    }

    #footer .footer_menu {
        float: left;
        width: 82%;
        margin-bottom: 15px;
    }

    #footer .footer_menu li a {
        font-size: 12px;
    }

    #footer .address span {
        font-size: 10px;
    }
}